@import url('https://fonts.googleacom/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
  background-color:#feeecc;
  max-width:1000px;
  margin:0 auto;
  font-family:'roboto', sans-serif;

}
nav{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  font-size:1.20em;
  text-align:left;
}
img{
  width:100%;
  border-radius:10px;
}
a{
  text-decoration:none;
}
h1{
 text-align:center;
}

p{
  line-height:1.5;
}
.introp{
  padding-left:42px;
}
.column{
  padding-left:42px;
}
.gallerygrid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
.gridCon3x1{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}

.gridCon3x1{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.Communicationcolumn{
  border:5px solid #acc7a3;
  border-radius:10px;
}
.tips h4{
  padding-left:20px;
}

/* media query for when the screen is phone sized */
@media only screen and (max-width:480px){
  nav{
    flex-direction:column;
    justify-content:space-evenly;
  }
  .gallerygrid,
  .gridCon3x1{
    grid-template-columns:1fr;
    grid-gap:26px;
  }
  .column{
    padding-left:40px;
  }
  .culturegrid,
  .Foodgrid{
    grid-template-columns:1fr;
  }
}
