@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

body {
  background-color:#feeecc;
  max-width:1000px;
  margin:0 auto;

}
nav {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  font-size:1.20em;
  text-align:left;
}
img {
  width:100%;
  border-radius:10px;
}
a {
  font-family: 'robot slab', serif;
  color: rgb(255,99,71);
}
h1 {
 text-align:center;
 font-family: 'robot slab', serif;
 font-weight: 900;
}

h2 {
  font-family: 'robot slab', serif;
  font-weight: 900;
  color: rgb(255,99,71);
}

h3 {
  text-align: center;
  color: rgb(70,130,180);
}

p {
  line-height:1.5;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
}

.tables {
  font-family: 'Source Sans Pro', sans-serif;
}

.introp {
  padding-left:42px;
}
.column {
  padding-left:42px;
}
.gallerygrid {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}

.gridCon3x1 {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
.grid,
.grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.Communicationcolumn {
  border:5px solid #acc7a3;
  border-radius:10px;
}

.gridCon2x1 {
  display:grid;
  grid-template-columns: 3fr 3fr;
}


.images-chinaflag {
  width: 500px;
  display: block;
  margin: 0 auto;
}
.figcation {
  text-align: center;
}
.images-lantern {
  width: 400px;
}

.images-map {
  width: 700px;
  display: block;
  margin: 0 auto;
}
.images-communicate {
  width: 750px;
  display: block;
  margin: 0 auto;
}
